<main class="uc__wrapper">
    <section>
        <h1 class="uc__heading">
            <span class="uc__heading-char">C</span>
            <span class="uc__heading-char">R</span>
            <span class="uc__heading-char">E</span>
            <span class="uc__heading-char">A</span>
            <span class="uc__heading-char">T</span>
            <span class="uc__heading-char">I</span>
            <span class="uc__heading-char glitch">V</span> <span class="uc__heading-char">I</span>
            <span class="uc__heading-char">T</span>
            <span class="uc__heading-char">Y</span>
        </h1>
        <p class="uc__message">
            <span class="uc__message-animated">UNDER</span>
            <span class="uc__message--smaller">CONSTRUCTION</span>
        </p>
    </section>
</main>