/* You can add global styles to this file, and also import other style files */
@import url("https://use.typekit.net/qby2njx.css");

html, body {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: "proxima-nova", sans-serif;
}